<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Streamer</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/vue.min-2.js"></script>
    <script src="/static/vue-resource-1.3.4.js"></script>

    <style>
        /* Customize container */
        @media (min-width: 48em) {
            .container {
                max-width: 46rem;
            }
        }

        .container {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div class="jumbotron">
        <h4 class="display-4 text-center">Simple Streaming</h4>
    </div>

    <form onsubmit="return false;">
        <div class="form-group row">
            <label for="streamlink_path" class="col-sm-4 col-form-label">Streamlink Path</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" v-model="cmd" id="streamlink_path"/>
            </div>
        </div>
    </form>

    <div class="card" v-for="stream in streams" style="margin-top: 1rem;">

        <h6 class="card-header">
            {{ stream.display_name }}
            <small class="text-muted">
                | <a v-bind:href="stream.game" class="text-danger" title="filter by game"
                     v-on:click.stop.prevent="get_game(stream.game)">{{ stream.game }}</a>
                | {{ stream.viewers }} viewers
            </small>
        </h6>
        <div class="card-body">
            <p class="card-text">{{ stream.title }}</p>
            <a v-bind:href="stream.url" class="btn btn-primary"
               v-on:click.stop.prevent="watch(stream.url)">Streamlink</a>
            <a v-bind:href="stream.url" class="btn btn-success" target="_blank">{{ stream.provider }}</a>
        </div>
    </div>
</div>

</body>
<script src="/static/app.js"></script>
</html>